<header class="navbar navbar-expand flex-column flex-md-row">
    <a class="navbar-brand" href="/"><img src="/logos/svg/splinter_logos_fulllogo_gradientblack.svg" height="72"></a>
    <div class="navbar-nav-scroll ml-md-auto">
        <ul class="navbar-nav flex-row"><li class="nav-item">
            <a class="nav-link active" href="/docs/">Documentation</a>
        </li><li class="nav-item">
            <a class="nav-link " href="/examples/">Examples</a>
        </li><li class="nav-item">
            <a class="nav-link" href="/community/">Community</a>
        </li>

    <li class="nav-item dropdown">
        <a class="nav-item nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            v0.4
        </a>
        <div class="dropdown-menu dropdown-menu-md-right">
            <a class="dropdown-item active" href="/docs/0.4/">Latest (v0.4)</a>
            <div class="dropdown-divider"></div>
            Release Notes:
            <a class="dropdown-item" href="/docs/0.4.3/">v0.4.3</a>
            <a class="dropdown-item" href="/docs/0.4.2/">v0.4.2</a>
            <a class="dropdown-item" href="/docs/0.4.1/">v0.4.1</a>
            <div class="dropdown-divider"></div>
            In development:
            <a class="dropdown-item" href="/docs/0.5/">v0.5</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/docs/versions/">All versions</a>
        </div>
    </li></ul>
</header>
