<header id="header" class="navbar navbar-expand flex-column flex-md-row">
    <a class="navbar-brand" href="/"><img src="/logos/svg/splinter_logos_fulllogo_gradientblack.svg" height="36"></a>
    <div class="navbar-nav-scroll ml-md-auto">
        <ul class="navbar-nav flex-row"><li class="nav-item">
            <a class="nav-link" href="/releases/{{ site.data.general.latest_version }}/"><span>Releases</span></a>
        </li><li class="nav-item">
            <a class="nav-link" href="/docs/{{ site.data.general.latest_version }}/"><span>Documentation</span></a>
        </li><li class="nav-item">
            <a class="nav-link" href="/community/"><span>Community</span></a>
        </li></ul>
    </div>
</header>
