<div id="left-sidebar" class="sidebar">
    <div class="dropdown version-dropdown">
        <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            v0.4
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item active" href="/docs/0.4/">Latest (v0.4)</a>
            <div class="dropdown-divider"></div>
            <div class="dropdown-header">Release Notes</div>
            <a class="dropdown-item" href="/docs/0.4.3/">v0.4.3</a>
            <a class="dropdown-item" href="/docs/0.4.2/">v0.4.2</a>
            <a class="dropdown-item" href="/docs/0.4.1/">v0.4.1</a>
            <div class="dropdown-divider"></div>
            <div class="dropdown-header">In Development</div>
            <a class="dropdown-item" href="/docs/0.5/">v0.5</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/docs/versions/">All versions</a>
        </div>
    </div>
    <div class="left-sidebar-group">
        <div class="left-sidebar-header">Getting Started</div>
        <a href="/docs/0.4/concepts/why_splinter.html">Why Splinter?</a>
        <a href="/docs/0.4/howto/planning_splinter_deployment.html">Planning a Splinter deployment</a>
    </div>
    <div class="left-sidebar-group">
        <div class="left-sidebar-header">Splinter Concepts</div>
        <a href="/docs/0.4/glossary/glossary.html">Splinter glossary</a>
        <a href="/docs/0.4/concepts/about_canopy.html">About Canopy</a>
        <a href="/docs/0.4/concepts/about_biome.html">About Biome</a>
    </div>
    <div class="left-sidebar-group">
        <div class="left-sidebar-header">Example Applications</div>
        <a href="https://github.com/Cargill/splinter/blob/master/examples/gameroom/README.md">Gameroom</a>
    </div>
    <div class="left-sidebar-group">
        <div class="left-sidebar-header">For Developers</div>
        <a href="/docs/community/stable_feature_checklist.html">Stable feature checklist</a>
        <a href="https://github.com/Cargill/splinter/blob/master/README.md#building-splinter">Building Splinter</a>
        <a href="/docs/0.4/howto/generating_insecure_certificates_for_development.html">Generating insecure certificates for development</a>
        <a href="/docs/0.4/howto/uploading_smart_contract.html">Uploading a smart contract</a>
    </div>
    <div class="left-sidebar-group">
        <div class="left-sidebar-header">Reference Guides</div>
        <a href="https://docs.rs/splinter">Splinter API Reference</a>
        <a href="/docs/0.4/references/cli/cli_command_reference.html">Splinter CLI Command Reference</a>
    </div>
</div>
