<div id="right-sidebar">
  <ul><li>
      <a href="#">True Privacy with Circuits</a>
  </li><li>
      <a href="#">Distributed Ledger Platform as a Service</a>
  </li><li>
      <a href="#">Flexibility with Splinter’s Modular Architecture</a>
  </li><li>
      <a href="#">Smart Contracts That Can Share State</a>
  </li><li>
      <a href="#">Quick Startup for Application Development</a>
  </li><li>
      <a href="#">Event Subscription for State Changes</a>
  </li><li>
      <a href="#">Complex Patterns for Data Flow</a>
  </li><li>
      <a href="#">Auditable Open Source</a>
  </li><li>
      <a href="#">Why NOT Splinter?</a>
  </li></ul>
</div">
