<div id="right-sidebar" class="sidebar">
  <a href="#" class="right-sidebar-h2">True Privacy with Circuits</a>
  <a href="#" class="right-sidebar-h3">Distributed Ledger Platform as a Service</a>
  <a href="#" class="right-sidebar-h2">Flexibility with Splinter’s Modular Architecture</a>
  <a href="#" class="right-sidebar-h2">Smart Contracts That Can Share State</a>
  <a href="#" class="right-sidebar-h2">Quick Startup for Application Development</a>
  <a href="#" class="right-sidebar-h3">Event Subscription for State Changes</a>
  <a href="#" class="right-sidebar-h3">Complex Patterns for Data Flow</a>
  <a href="#" class="right-sidebar-h2">Auditable Open Source</a>
  <a href="#" class="right-sidebar-h3">Why NOT Splinter?</a>
</div">
