<div class="sidebar">
    <div class="sidebar-group">
        <div class="sidebar-header">Getting Started</div>
        <a class="active" href="https://github.com/Cargill/splinter/blob/master/README.md">About Splinter</a>
        <a href="/docs/0.4/concepts/why_splinter.html">Why Splinter?</a>
        <a href="/docs/0.4/howto/planning_splinter_deployment.html">Planning a Splinter deployment</a>
    </div>
    <div class="sidebar-group">
        <div class="sidebar-header">Splinter Concepts</div>
        <a href="/docs/0.4/glossary/glossary.html">Splinter glossary</a>
        <a href="/docs/0.4/concepts/about_canopy.html">About Canopy</a>
        <a href="/docs/0.4/concepts/about_biome.html">About Biome</a>
    </div>
    <div class="sidebar-group">
        <div class="sidebar-header">Example Applications</div>
        <a href="https://github.com/Cargill/splinter/blob/master/examples/gameroom/README.md">Gameroom</a>
    </div>
    <div class="sidebar-group">
        <div class="sidebar-header">For Developers</div>
        <a href="https://github.com/Cargill/splinter/blob/master/RELEASE_NOTES.md">Splinter release notes</a>
        <a href="/docs/community/stable_feature_checklist.html">Stable feature checklist</a>
        <a href="https://github.com/Cargill/splinter/blob/master/README.md#building-splinter">Building Splinter</a>
        <a href="/docs/0.4/howto/generating_insecure_certificates_for_development.html">Generating insecure certificates for development</a>
        <a href="/docs/0.4/howto/uploading_smart_contract.html">Uploading a smart contract</a>
    </div>
    <div class="sidebar-group">
        <div class="sidebar-header">Reference Guides</div>
        <a href="https://docs.rs/splinter">Splinter API Reference</a>
        <a href="/docs/0.4/references/cli/cli_command_reference.html">Splinter CLI Command Reference</a>
    </div>
</div>
