<div>
    Getting Started
    <ul><li>
            <a href="https://github.com/Cargill/splinter/blob/master/README.md">About Splinter</a>
    </li><li>
        <a href="/docs/0.4/concepts/why_splinter.html">Why Splinter?</a>
    </li><li>
        <a href="/docs/0.4/howto/planning_splinter_deployment.html">Planning a Splinter deployment</a>
    </li><li>
        <a href="/docs/faq/faq.html">Splinter FAQ</a>
    </li></ul>
    Splinter Concepts
    <ul><li>
        <a href="/docs/0.4/glossary/glossary.html">Splinter glossary</a>
    </li><li>
        <a href="/docs/0.4/concepts/about_canopy.html">About Canopy</a>
    </li><li>
        <a href="/docs/0.4/concepts/about_biome.html">About Biome</a>
    </li></ul>
    Example Applications
    <ul><li>
        <a href="https://github.com/Cargill/splinter/blob/master/examples/gameroom/README.md">Gameroom</a>
    </li></ul>
    For Developers
    <ul><li>
        <a href="https://github.com/Cargill/splinter/blob/master/RELEASE_NOTES.md">Splinter release notes</a>
    </li><li>
        <a href="/docs/community/stable_feature_checklist.html">Stable feature checklist</a>
    </li><li>
        <a href="https://github.com/Cargill/splinter/blob/master/README.md#building-splinter">Building Splinter</a>
    </li><li>
        <a href="/docs/0.4/howto/generating_insecure_certificates_for_development.html">Generating insecure certificates for development</a>
    </li><li>
        <a href="/docs/0.4/howto/uploading_smart_contract.html">Uploading a smart contract</a>
    </li></ul>
    Reference Guides
    <ul><li>
        <a href="https://docs.rs/splinter">Splinter API Reference</a>
    </li><li>
        <a href="/docs/0.4/references/cli/cli_command_reference.html">Splinter CLI Command Reference</a>
    </li></ul>
</div>
